server:
  port: 8083

spring:
  application:
    name: "leaderboard-service"
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/