server:
  port: 8080

app:
  jwt:
    secret: "mySuperSecretKeyForJWTGenerationInNumberGuessingGame2024MicroservicesArchitecture"
    expiration: 86400000

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/auth/**
                - Path=/api/users/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
            - id: game-service
              uri: lb://game-service
              predicates:
                - Path=/api/game/**
                - Path=/api/guess/**
            - id: leaderboard-service
              uri: lb://leaderboard-service
              predicates:
                - Path=/api/leaderboard/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
