server:
  port: 8083

spring:
  application:
    name: leaderboard-service
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000
  kafka:
    consumer:
      group-id: leaderboard-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"